.qr-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-field {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

 .color-input {
    width: 100%;
    max-width: 150px;
} 

.dimension-input {
    width: 30%;
} 

.qr-code-container {
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    margin-top: 20px;
    /* background-color: aqua; */
}

.qr-code-image {
    width: 50%;
    background-color: aquamarine;
    margin: 10px 100px 10px 10px;
    margin:0 auto;
}
